In [1]:
import pymongo
import pandas as pd

In [2]:
def get_sqldata(db,col):
    mongo_cli = pymongo.MongoClient('127.0.0.1',27017)
    col = mongo_cli[db][col]
    df = pd.DataFrame(list(col.find({'url_id':{'$gt':177307}})))
    return df

In [3]:
df = get_sqldata('wfhy_update','chictr_copy1')
df

Empty DataFrame
Columns: []
Index: []

### 根据手机号去重

## 分割手机号,得出11位数字的手机号码, 方便清洗, 否则部分 +86 xx 和  86 xx难以去重

In [4]:
df['phone'] = df.phone.map(lambda x: x.split(' ')[1] if len(x.split(' ')) > 1 else x)

In [5]:
df.head()

,_id,name,phone,email,detail_url,url_id,datetime
0,6307639efa3a0a834f767965,杜柏,13439689904,dubaidubai@sina.com,http://www.chictr.org.cn/showproj.aspx?proj=17...,177812,NaN
1,630763a0fa3a0a834f767966,熊红,18846838320,3054575019@qq.com,http://www.chictr.org.cn/showproj.aspx?proj=14...,148170,NaN
2,630763a0fa3a0a834f767967,李文志,18045159998,wenzhili9@126.com,http://www.chictr.org.cn/showproj.aspx?proj=14...,148170,NaN
3,630763a1fa3a0a834f767968,管文瑜,18953117225,850285685@qq.com,http://www.chictr.org.cn/showproj.aspx?proj=17...,174874,NaN
4,630763a3fa3a0a834f767969,陈璇,13751771283,406625227@qq.com,http://www.chictr.org.cn/showproj.aspx?proj=17...,177666,NaN

## 判断真实手机号:  手机字符串包含为 (以 1 开始,其后有10位数字)

In [6]:
new_df = df[df.phone.str.contains('1(\d+){10}')]

c:\users\10290\appdata\local\programs\python\python36\lib\site-packages\pandas\core\strings.py:1843: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

In [7]:
new_df.head()

,_id,name,phone,email,detail_url,url_id,datetime
0,6307639efa3a0a834f767965,杜柏,13439689904,dubaidubai@sina.com,http://www.chictr.org.cn/showproj.aspx?proj=17...,177812,NaN
1,630763a0fa3a0a834f767966,熊红,18846838320,3054575019@qq.com,http://www.chictr.org.cn/showproj.aspx?proj=14...,148170,NaN
2,630763a0fa3a0a834f767967,李文志,18045159998,wenzhili9@126.com,http://www.chictr.org.cn/showproj.aspx?proj=14...,148170,NaN
3,630763a1fa3a0a834f767968,管文瑜,18953117225,850285685@qq.com,http://www.chictr.org.cn/showproj.aspx?proj=17...,174874,NaN
4,630763a3fa3a0a834f767969,陈璇,13751771283,406625227@qq.com,http://www.chictr.org.cn/showproj.aspx?proj=17...,177666,NaN

In [8]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87378 entries, 0 to 92672
Data columns (total 7 columns):
_id           87378 non-null object
name          87378 non-null object
phone         87378 non-null object
email         87378 non-null object
detail_url    87378 non-null object
url_id        87378 non-null int64
datetime      1 non-null object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

## 根据手机号去重,保留重复号码的第一个手机号

In [9]:
new_df.drop_duplicates(subset='phone',inplace=True)

c:\users\10290\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [10]:
new_df

,_id,name,phone,email,detail_url,url_id,datetime
0,6307639efa3a0a834f767965,杜柏,13439689904,dubaidubai@sina.com,http://www.chictr.org.cn/showproj.aspx?proj=17...,177812,NaN
1,630763a0fa3a0a834f767966,熊红,18846838320,3054575019@qq.com,http://www.chictr.org.cn/showproj.aspx?proj=14...,148170,NaN
2,630763a0fa3a0a834f767967,李文志,18045159998,wenzhili9@126.com,http://www.chictr.org.cn/showproj.aspx?proj=14...,148170,NaN
3,630763a1fa3a0a834f767968,管文瑜,18953117225,850285685@qq.com,http://www.chictr.org.cn/showproj.aspx?proj=17...,174874,NaN
4,630763a3fa3a0a834f767969,陈璇,13751771283,406625227@qq.com,http://www.chictr.org.cn/showproj.aspx?proj=17...,177666,NaN
...,...,...,...,...,...,...,...
92665,63164f2305b2acf8e9693a73,仇艳,13011187815,576275980@qq.com,http://www.chictr.org.cn/showproj.aspx?proj=4339,4339,NaN
92666,63164f2505b2acf8e9693a74,李艳成,13761826267,lyc_neuron@163.com,http://www.chictr.org.cn/showproj.aspx?proj=4336,4336,NaN
92667,63164f2505b2acf8e9693a75,聂志余,13501918926,nzhiyu2002@sina.com,http://www.chictr.org.cn/showproj.aspx?proj=4336,4336,NaN
92670,63164f2705b2acf8e9693a78,李国才,13143378727,guocailee@126.com,http://www.chictr.org.cn/showproj.aspx?proj=4334,4334,NaN
92671,63164f2805b2acf8e9693a79,袁正勇,13688354162,yuan_mcchina@hotmail.com,http://www.chictr.org.cn/showproj.aspx?proj=4333,4333,NaN

## 简单查阅是否还有重复

In [11]:
new_df[new_df['email']=="2632494613@qq.com"]

Empty DataFrame
Columns: [_id, name, phone, email, detail_url, url_id, datetime]
Index: []

In [12]:
new_df[new_df.phone == '13596052383']

,_id,name,phone,email,detail_url,url_id,datetime
16146,630876e8ee600c5291b526da,宋春莉,13596052383,songchunl@jlu.edu.com,http://www.chictr.org.cn/showproj.aspx?proj=14...,142818,NaN

## 保存到excel中

## 摘取部分数据进行存储

In [13]:
new_df_1 = new_df[new_df.url_id < 105795]

In [14]:
writer = pd.ExcelWriter(r'chictr_all_clear_1.xlsx', engine='xlsxwriter', options={'strings_to_urls': False})
new_df_1.to_excel(writer,encoding='utf-8',index=False)
writer.save()